@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

$theme: mat.define-theme((color: (theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (scale: 0)));

@include mat.core();

:root {
  @include mat.all-component-themes($theme);
  @include mat.typography-hierarchy($theme);
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
}